.navbar {
    background-color: #2196F3;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.nav-menu li.dropdown:hover .dropdown-content {
    display: block;
}


/*  */
.hero {
    background-color: #f9f9f9;
    color: #333;
    padding: 100px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/*  */
.features {
    padding: 80px 0;
    text-align: center;
}

.feature {
    margin-bottom: 40px;
}

.feature i {
    color: #2196F3;
    font-size: 48px;
}

.feature-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 16px;
}

/*  */
.user-reviews {
    background-color: #f2f9ff;
    color: #333;
    padding: 80px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.review {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
}

/*  */
.footer {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 0 0 30%;
}

.footer-heading {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-menu li {
    margin-bottom: 10px;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-menu li a:hover {
    color: #ccc;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons li a:hover {
    color: #ccc;
}